// colors
$navblue: #243F67;
$pageblue: #F3F9FF;

.body {
    .logo {
        padding-top: 50px;
        padding-left: 40px;
        width: 200px;
    }
    .headerhome {
        // background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 200px;
        margin-bottom: 200px;
        p {
            font-size: 8vh;
            color: $navblue;
            // background-color: aqua;
            width: 900px;
            margin-top: 400px;
        }
        .recents {
            font-size: 3vh;
            color: $navblue;
            background-color: lightgrey;
            width: 530px;
            text-align: left;
        }
    }
}
