.App {
  text-align: center;
}

.body {
  display: flex;
  padding: 0px 0px 0px 30px;
  text-align: center;
  background-color: #F3F9FF;
  height: 100vh;
}

.mainheader, h1{
  color: #243F67;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.mainheader input {
  width: 300px;
  height: 40px;
  background-color: #243F67;
  color: #F3F9FF;
  border: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  border-radius: 5px;
}

input::placeholder {
  color: white;
  padding: 10px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #243F67 2px solid;
  background-color: white;
  color: #243F67;
}


.submit, .login {
  font-size: large;
}
