.App {
  text-align: center;
}

/* .headliner {
  font-size: 5vh;
} */

.loginfield {
  display: flex;
}

.inputs .login {
  text-align: left;
  font-size: xx-large;
  /* background-color: aqua; */
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
}


input {
  border-radius: 5px;
  width: 500px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.589);
  padding: 10px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #243F67 2px solid;
  background-color: white;
  color: #243F67;
}

button:hover {
  cursor: pointer;
}


.submitbutton {
  padding-top: 130px;
  padding-left: 50px;
  padding-right: 20px;
  /* background-color: yellow; */
}

.submit, .login {
  font-size: large;
}

